.dishes {
  margin-top: 100px;

  @include xs (margin-top, 50px);


  &__title {
    font-size: 45px;
    color: $fontBlack;
    text-align: center;

    @include xs (font-size, 35px);


    &-word {
      color: $accentColor;
    }
  }

  &__cards {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;

    @include sm (gap, 15px);
    @include xs (margin-top, 40px);

    .dishes-card {
      box-shadow: 7px 50px 30px 0 #E5E5E5B2;
      border: $cardsBorder;
      border-radius: 30px;
      overflow: hidden;
      padding: 35px 20px 30px 15px;


      &__header {
        position: relative;

        &-img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        &::before {
          content: url("../../assets/images/dishes/heart.svg");
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }
      }

      &__body {

        &-link {
          color: $yellowColor;
          background-color: $yellowBG;
          font-size: 12.5px;
          padding: 3px 7px;
          border-radius: 5.5px;
        }
        &-redLink {
          color: $redColor;
          background-color: $redBG;
          font-size: 12.5px;
          padding: 3px 7px;
          border-radius: 5.5px;
        }
        &-greenLink {
           color: $greenColor;
           background-color: $greenBG;
           font-size: 12.5px;
           padding: 3px 7px;
           border-radius: 5.5px;
         }
        &-title {
          font-size: 25px;
          color: $fontBlack;
          line-height: 42px;
        }
      }

      &__footer {
        display: flex;
        gap: 0 10px;
        color: $grayCardColor;

        .time {
          color: inherit;

          &::after {
            content: url("../../assets/images/dishes/star.svg");
            position: relative;
            top: 6px;
            left: 5px;
          }
        }

        .rating {
          color: inherit;
          position: relative;
          top: 8px;
        }
      }

      &__add2cart {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        height: 40px;
        font-size: 24px;
        font-weight: 700;

        .price {
          align-self: center;
          color: $blackBG;
        }

        .cent {
          font-size: 20px;
          font-weight: 500;
          color: $grayCardColor;

        }

        .add {
          padding: 5px 13px;
          border-radius: 10px;
          background-color: $blackBG;
          align-self: center;
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 65px;
    font-size: 20px;
    color: $grayCardColor;
    padding-bottom: 120px;
    border-bottom: $borderLine;

    &-img {
      background-image: url("../../assets/images/dishes/arrow-right.svg");
      width: 25px;
      height: 25px;
      background-size: cover;
    }
  }
}