<section>
    <div class="wrapper">
        <div class="dishes">
            <h3 class="dishes__title">
                Our Top <span class="dishes__title-word">Dishes</span>
            </h3>
            <div class="dishes__cards">
                <div class="dishes__cards-item dishes-card">
                    <div class="dishes-card__header">
                        <img src="../../assets/images/dishes/food_image3.png" alt="food" class="dishes-card__header-img">
                        <div class="dishes-card__header-heart"></div>
                    </div>
                    <div class="dishes-card__body">
                        <a href="#" class="dishes-card__body-link">Healthy</a>
                        <h4 class="dishes-card__body-title">Chiken Hell</h4>
                    </div>
                    <div class="dishes-card__footer">
                        <div class="time">24min •</div>
                        <div class="rating">4.8</div>
                    </div>
                    <div class="dishes-card__cart">
                        <div class="dishes-card__cart-price">$12.<span class="cent">99</span></div>
                        <a href="#" class="dishes-card__cart-add"> <img src="../../assets/images/dishes/plus.svg" alt="plus"></a>
                    </div>
                </div>
                <div class="dishes__cards-item dishes-card">
                    <div class="dishes-card__header">
                        <img src="../../assets/images/dishes/food_image1.png" alt="food" class="dishes-card__header-img">
                        <div class="dishes-card__header-heart"></div>
                    </div>                    <div class="dishes-card__body">
                        <a href="#" class="dishes-card__body-redLink">Trending</a>
                        <h4 class="dishes-card__body-title">Swe Dish</h4>
                    </div>
                    <div class="dishes-card__footer">
                        <div class="time">24min •</div>
                        <div class="rating">4.9</div>
                    </div>
                    <div class="dishes-card__cart">
                        <div class="dishes-card__cart-price">$12.<span class="cent">99</span></div>
                        <a href="#" class="dishes-card__cart-add"> <img src="../../assets/images/dishes/plus.svg" alt="plus"></a>
                    </div>
                </div>
                <div class="dishes__cards-item dishes-card">
                    <div class="dishes-card__header">
                        <img src="../../assets/images/dishes/food_image2.png" alt="food" class="dishes-card__header-img">
                        <div class="dishes-card__header-heart"></div>
                    </div>
                    <div class="dishes-card__body">
                        <a href="#" class="dishes-card__body-greenLink">Supreme</a>
                        <h4 class="dishes-card__body-title">Chiken Hell</h4>
                    </div>
                    <div class="dishes-card__footer">
                        <div class="time">24min •</div>
                        <div class="rating">4.8</div>
                    </div>
                    <div class="dishes-card__cart">
                        <div class="dishes-card__cart-price">$12.<span class="cent">99</span></div>
                        <a href="#" class="dishes-card__cart-add"> <img src="../../assets/images/dishes/plus.svg" alt="plus"></a>
                    </div>
                </div>
                <div class="dishes__cards-item dishes-card">
                    <div class="dishes-card__header">
                        <img src="../../assets/images/dishes/food_image1.png" alt="food" class="dishes-card__header-img">
                        <div class="dishes-card__header-heart"></div>
                    </div>
                    <div class="dishes-card__body">
                        <a href="#" class="dishes-card__body-link">Healthy</a>
                        <h4 class="dishes-card__body-title">Swe Dish</h4>
                    </div>
                    <div class="dishes-card__footer">
                        <div class="time">24min •</div>
                        <div class="rating">4.8</div>
                    </div>
                    <div class="dishes-card__cart">
                        <div class="dishes-card__cart-price">$12.<span class="cent">99</span></div>
                        <a href="#" class="dishes-card__cart-add"> <img src="../../assets/images/dishes/plus.svg" alt="plus"></a>
                    </div>
                </div>
                <div class="dishes__cards-item dishes-card">
                    <div class="dishes-card__header">
                        <img src="../../assets/images/dishes/food_image3.png" alt="food" class="dishes-card__header-img">
                        <div class="dishes-card__header-heart"></div>
                    </div>
                <div class="dishes-card__body">
                    <a href="#" class="dishes-card__body-redLink">Trending</a>
                    <h4 class="dishes-card__body-title">Chiken Hell</h4>
                </div>
                <div class="dishes-card__footer">
                    <div class="time">24min •</div>
                    <div class="rating">4.8</div>
                </div>
                <div class="dishes-card__cart">
                    <div class="dishes-card__cart-price">$12.<span class="cent">99</span></div>
                    <a href="#" class="dishes-card__cart-add"> <img src="../../assets/images/dishes/plus.svg" alt="plus"></a>
                </div>
            </div>
            </div>
            <div class="dishes__link">
                <a href="#" class="dishes__link-viewAll">View all</a>
                <div class="dishes__link-img"></div>
            </div>
            </div>
        </div>
    </div>
</section>