<section>
    <div class="wrapper">
        <div class="dashbord">
            <div class="dashbord__control">
                <h3 class="dashbord__control-title title">
                    Control <span class="title__word">Purchases</span><br>
                    Via Dashboard
                </h3>
                <div class="dashbord__control-foodcards foodcards">
                    <div class="foodcards__card">
                        <div class="foodcards__card-pic card-pic1"></div>
                        <div class="foodcards__card-text cardtext">
                            <div class="cardtext__name">
                                Chicken Hell
                            </div>
                            <div class="cardtext__status">
                                On The Way
                            </div>
                        </div>
                        <div class="foodcards__card-time">
                            3:09 PM
                        </div>
                    </div>
                    <div class="foodcards__card">
                        <div class="foodcards__card-pic card-pic2"></div>
                        <div class="foodcards__card-text cardtext">
                            <div class="cardtext__name">
                                Swe Dish
                            </div>
                            <div class="cardtext__status">
                                Delivered
                            </div>
                        </div>
                        <div class="foodcards__card-time">
                            Yesterday
                        </div>
                    </div>
                    <div class="foodcards__card">
                        <div class="foodcards__card-pic card-pic3"></div>
                        <div class="foodcards__card-text cardtext">
                            <div class="cardtext__name">
                                Fish Hell Veg
                            </div>
                            <div class="cardtext__status cancel">
                                Cancelled
                            </div>
                        </div>
                        <div class="foodcards__card-time">
                            Yesterday
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashbord__purchases">
                <div class="dashbord__purchases-header pur-header">
                    <div class="pur-header__title">
                        Purchase
                    </div>
                    <div class="pur-header__dropdown">
                        This month
                    </div>
                </div>
                <div class="dashbord__purchases-cards">
                    <div class="dashbord__purchases-cards-item card-item">
                        <div class="card-item__top">
                            <img src="../../assets/images/dashboard/wallet.svg" class="card-item__top-img" alt="wallet-img">
                            <div class="card-item__top-text top-text">
                                <h4 class="top-text__title">
                                    Expense
                                </h4>
                                <p class="top-text__par">
                                    Increased By 10%
                                </p>
                            </div>
                            <p class="card-item__top-price">$409.00</p>
                        </div>
                        <div class="card-item__bottom">
                            <img src="../../assets/images/dashboard/purple-line.png" alt="line" class="card-item__bottom-img">
                        </div>
                    </div>
                    <div class="dashbord__purchases-cards-item card-item">
                        <div class="card-item__top">
                            <img src="../../assets/images/dashboard/money.svg" class="card-item__top-img" alt="wallet-img">
                            <div class="card-item__top-text top-text">
                                <h4 class="top-text__title">
                                    Voucher Usage
                                </h4>
                                <p class="top-text__par">
                                    Increased By 5%
                                </p>
                            </div>
                            <p class="card-item__top-price">$45.78</p>
                        </div>
                        <div class="card-item__bottom">
                            <img src="../../assets/images/dashboard/orange-line.png" alt="line" class="card-item__bottom-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>