.quality {
  margin-top: 120px;
  display: grid;
  gap: 170px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-bottom: $borderLine;
  padding-bottom: 100px;

  @include md (gap, 5%);
  @include sm-block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    gap: 10px;
    padding-bottom: 30px;
  }

  &__img {

    &-phone {
      width: 100%;
    }

    &::before {
      content: url("../../assets/images/quality/lines.svg");
      position: relative;
      top: 40px;
      left: 360px;
    }

    @include sm (order, 1);
  }



  &__text {
    align-self: center;

    &-title {
      font-size: 50px;
      color: $fontBlack;

      @include sm (font-size, 40px);

      &-quality {
        color: $accentColor;
      }
    }

    &-list {
      margin: 65px 0;
      font-family: $pFont;
      font-size: 20px;
      line-height: 150%;
      list-style: disc;
      position: relative;

      li {
        margin-left: 23px;

        &:last-child {
          padding-top: 28px;
        }
      }
    }

    &-button {
      position: relative;
      @include ColoredButton (none, $fontWhite, $accentColor);

      &::before {
        content: url("../../assets/images/quality/arrow.png");
        position: absolute;
        top: 40px;
        left: 130px;
      }

      &::after {
        content: "";
        position: relative;
        display: inline-block;
        background-image: url("../../assets/images/quality/arrow-right.svg");
        background-size: cover;
        top: 7px;
        left: 5px;
        width: 27px;
        height: 27px;
      }
    }

    @include md (padding-left, 50px);
    @include sm (order, 0);
  }
}