<section>
  <div class="wrapper">
    <div class="quality">
      <div class="quality__img">
        <img class="quality__img-phone" src="../../assets/images/quality/phone.png" alt="phone">
      </div>
      <div class="quality__text">
        <h3 class="quality__text-title">
          Premium <span class="quality__text-title-word">Quality</span><br>
          For Your Health
        </h3>
        <ul class="quality__text-list list">
          <li class="list__01">Premium quality food is made with ingredients that are<br>
              packed with essential vitamins, minerals.</li>
          <li class="list__02">These foods promote overall wellness by support<br>
              healthy digestion and boosting immunity</li>
        </ul>
        <a class="quality__text-button" href="#">Download</a>
      </div>
    </div>
  </div>
</section>