.quality {
  margin-top: 120px;
  display: grid;
  gap: 170px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-bottom: $borderLine;
  padding-bottom: 100px;

  @include md (gap, 5%);
  @include sm-block {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    margin-top: 20px;
    gap: 60px;
    padding-bottom: 50px;
  }

  &__img {
    @include sm (order, 1);

    &-phone {
      width: 100%;
    }

    &::before {
      content: url("../../assets/images/quality/lines.svg");
      position: relative;
      top: 40px;
      left: 360px;

      @include xs (display, none);
    }
  }

  &__text {
    align-self: center;

    @include md (padding-left, 50px);
    @include sm-block {
      padding-left: 0;
      order: 0;
    }

    &-title {
      font-size: 50px;
      color: $fontBlack;

      @include sm (font-size, 40px);
      @include sm (text-align, center);
      @include sm-block {
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
      }
      @include xs (font-size, 35px);

      &-quality {
        color: $accentColor;
      }
    }

    &-list {
      margin: 65px 0;
      font-family: $pFont;
      font-size: 20px;
      line-height: 150%;
      list-style: disc;
      position: relative;

      @include sm (margin, 35px 0);

      li {
        margin-left: 23px;

        &:last-child {
          padding-top: 28px;
        }
      }
    }

    &-button {
      position: relative;
      @include ColoredButton (none, $fontWhite, $accentColor);

      &::before {
        content: url("../../assets/images/quality/arrow.png");
        position: absolute;
        top: 40px;
        left: 120px;
      }

      &::after {
        content: "";
        position: relative;
        display: inline-block;
        background-image: url("../../assets/images/quality/arrow-right.svg");
        background-size: cover;
        top: 7px;
        left: 5px;
        width: 27px;
        height: 27px;
      }
    }
  }
}