.customers {
  margin-top: 115px;
  margin-bottom: 210px;

  &__title {
    color: $fontBlack;
    font-size: 45px;
    text-align: center;

    &-word {
      color: $accentColor;
    }
  }

  &__container {
    padding: 80px 20px 30px;
    display: flex;
    gap: 40px;
    align-items: start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;

    &::-webkit-scrollbar {
      height: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: $accentColor;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-track:horizontal {
      background-color: #dad2f3;
      border-radius: 15px;
    }

    @include xxs (padding-left, 3px);

    .review {
      padding: 35px 43px;
      border-radius: 25px;
      box-shadow: 0 0 15px 1px rgba(34, 60, 80, 0.1);
      width: 530px;
      flex-shrink: 0;
      scroll-snap-align: center;
      transition: all .3s;

      &:hover {
        box-shadow: 0 0 15px 1px rgba(172, 125, 255, 0.52);
      }

      @include sm (padding, 15px 20px);
      @include sm (width, 450px);
      @include xs (width, 350px);
      @include xxs (width, 265px);

      &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        @include sm (gap, 13px);

        &-text {
          display: flex;
          flex-flow: column;
          gap: 5px;

          .review-text__name {
            font-size: 21px;
            font-weight: 600;
            color: $fontBlack;

            @include xs (font-size, 16px);
          }

          .review-text__time {
            font-size: 17px;

            @include xs (font-size, 14px);
          }
        }

        &-quotes {
          flex-grow: 1;
          text-align: end;
        }
      }

      &__body {
        padding-top: 32px;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        color: $grayCardColor;
        text-align: justify;
      }

      &__footer {
        padding-top: 32px;
      }
    }
  }

  &__subscribe {
    margin-top: 180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 64px 60px;
    border-radius: 35px;
    background-color: $accentColor;
    background-image: url("../../assets/images/reviews/banner-bg.png");
    background-size: contain;
    max-height: 270px;

    @include xmd-block {
      max-height: 320px;
      justify-content: center;
      padding: 30px 10px 60px;
    }

    .form {
      @include xs (width, 100%);

      &__title {
        font-size: 70px;
        font-weight: 800;
        line-height: 105px;
        color: $fontWhite;
        margin-bottom: 10px;

        @include xs (font-size, 60px);
        @include xxs(font-size, 50px);
      }

      &__container {
        position: relative;

        &-input {
          font-size: 16px;
          font-weight: 400;
          color: $grayCardColor;
          border-radius: 20px;
          border: none;
          box-shadow: 0 7px 45px 0 #0000001A;
          padding: 22px 155px 22px 22px;
          width: 440px;
          height: auto;

          @include xs-block {
            width: 100%;
            font-size: 14px;
            padding: 18px 125px 18px 14px;
          }
          @include xxs (font-size, 12px);
          @include xxs (padding-right, 115px);
        }

        &-button {
          padding: 15px 25px;
          background-color: $accentColor;
          border: none;
          border-radius: 15px;
          color: $fontWhite;
          font-style: $mainFont;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          position: absolute;
          right: 6px;
          top: 5px;
          transition: all .3s;

          &:hover {
            transform: scale(105%);
          }

          @include xs-block {
            padding: 11px 12px;
            top: 4px;
            font-size: 13px;
          }
          @include xxs (font-size, 11px);
          @include xxs (top, 3px);
        }
      }
    }

    &-image {
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(105%);
      }

      @include xmd (padding-top, 2px);
    }
  }
}