<section>
    <div class="wrapper">
        <div class="customers">
            <h3 class="customers__title">
                <span class="customers__title-word">Customer</span> Say
            </h3>
            <div class="customers__container">
                <div class="customers__container-review review">
                    <div class="review__header">
                        <div class="review__header-avatar">
                            <img src="../../assets/images/reviews/avatar.png" class="avatar" alt="review-avatar">
                        </div>
                        <div class="review__header-text review-text">
                            <div class="review-text__name">
                                Alexander R.
                            </div>
                            <div class="review-text__time">
                                01 Year With Us
                            </div>
                        </div>
                        <div class="review__header-quotes">
                            <img src="../../assets/images/reviews/quotes.svg" class="review-quotes" alt="quotes">
                        </div>
                    </div>
                    <p class="review__body">
                        “ Online invoice payment helps companies save time, are faster and save maximum effort for the clients and save maximum effort. Online invoice payment helps companies save time ”
                    </p>
                    <div class="review__footer">
                        <img src="../../assets/images/reviews/stars.svg" class="review-stars" alt="stars">
                    </div>
                </div>
<!--                <div class="customers__container-review review">-->
<!--                    <p class="review__body">-->
<!--                        “ Online invoice payment helps companies save time, are faster and save maximum effort for the clients and save maximum effort. Online invoice payment helps companies save time ”-->
<!--                    </p>-->
<!--                    <div class="review__footer">-->
<!--                        <img src="../../assets/images/reviews/stars.svg" class="review-stars" alt="stars">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="customers__container-review review">-->
<!--                    <p class="review__body">-->
<!--                        “ Online invoice payment helps companies save time, are faster and save maximum effort for the clients and save maximum effort. Online invoice payment helps companies save time ”-->
<!--                    </p>-->
<!--                    <div class="review__footer">-->
<!--                        <img src="../../assets/images/reviews/stars.svg" class="review-stars" alt="stars">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="customers__container-review review">-->
<!--                    <p class="review__body">-->
<!--                        “ Online invoice payment helps companies save time, are faster and save maximum effort for the clients and save maximum effort. Online invoice payment helps companies save time ”-->
<!--                    </p>-->
<!--                    <div class="review__footer">-->
<!--                        <img src="../../assets/images/reviews/stars.svg" class="review-stars" alt="stars">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="customers__subscribe">
                <div class="customers__subscribe-form form">
                    <h4 class="form__title">
                        GET 50%
                    </h4>
                    <form class="form__container">
                        <input type="text" placeholder="Enter Your Email Address" class="form__container-input">
                        <button type="submit" class="form__container-button">SUBSCRIBE</button>
                    </form>
                </div>
                <div class="customers__subscribe-image subscribe-image">
                    <img src="../../assets/images/reviews/subscribe-food.png" alt="food" class="subscribe-image__food">
                </div>
            </div>
        </div>
    </div>
</section>