//body {
//  overflow-x: hidden;
//}

.customers {
  margin-top: 115px;
  margin-bottom: 210px;

  &__title {
    color: $fontBlack;
    font-size: 45px;
    text-align: center;

    &-word {
      color: $accentColor;
    }
  }

  &__container {
    margin-top: 80px;
    display: flex;
    gap: 40px;
    align-items: start;

    .review {
      padding: 35px 43px;
      border-radius: 25px;
      box-shadow: 0 0 100px 10px rgba(34, 60, 80, 0.2);
      max-width: 530px;
      flex-shrink: 0;

      &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        &-text {
          display: flex;
          flex-flow: column;
          gap: 5px;

          .review-text__name {
            font-size: 21px;
            font-weight: 600;
            color: $fontBlack;
          }

          .review-text__time {
            font-size: 17px;
          }
        }

        &-quotes {
          flex-grow: 1;
          text-align: end;
        }
      }

      &__body {
        padding-top: 32px;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        color: $grayCardColor;
        text-align: justify;
      }

      &__footer {
        padding-top: 32px;
      }
    }
  }

  &__subscribe {
    margin-top: 180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 64px 60px;
    border-radius: 35px;
    background-color: $accentColor;
    background-image: url("../../assets/images/reviews/banner-bg.png");
    background-size: contain;
    max-height: 270px;

    @include xmd-block {
      max-height: 320px;
      justify-content: center;
      padding: 30px 10px 60px;
    }

    .form {
      @include xs (width, 100%);

      &__title {
        font-size: 70px;
        font-weight: 800;
        line-height: 105px;
        color: $fontWhite;
        margin-bottom: 10px;

        @include xs (font-size, 60px);
        @include xxs(font-size, 50px);
      }

      &__container {
        position: relative;

        &-input {
          font-size: 16px;
          font-weight: 400;
          color: $grayCardColor;
          border-radius: 20px;
          border: none;
          box-shadow: 0 7px 45px 0 #0000001A;
          padding: 22px 0 22px 22px;
          width: 440px;
          height: auto;

          @include xs-block {
            width: 100%;
            font-size: 14px;
            padding: 18px 0 18px 14px;
          }
          @include xxs (font-size, 12px);
        }

        &-button {
          padding: 15px 25px;
          background-color: $accentColor;
          border: none;
          border-radius: 15px;
          color: $fontWhite;
          font-style: $mainFont;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          position: absolute;
          right: 5px;
          top: 5px;

          @include xs-block {
            padding: 11px 12px;
            top: 4px;
            font-size: 13px;
          }
          @include xxs (font-size, 11px);
          @include xxs (top, 3px);
        }
      }
    }

    &-image {
      padding-top: 30px;

      @include xmd (padding-top, 2px);
    }
  }
}