<section>
  <div class="wrapper">
    <div class="our-rest">
      <h3 class="our-rest__title">
        Our Top <span class="our-rest__title-word">Restaurants</span>
      </h3>
      <div class="our-rest__cards">
        <div class="our-rest__cards-item rest-card">
          <div class="rest-card__header">
            <img src="../../assets/images/our-rest/image.png" alt="food-pic" class="rest-card__header-img">
          </div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-link">Healthy</a>
            <h4 class="rest-card__body-title">The Chicken King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="rest-card__footer-info info">
              <div class="info__time">24min •</div>
              <div class="info__rating">4.8</div>
            </div>
            <div class="rest-card__footer-img">
              <img src="../../assets/images/our-rest/bookmark.svg" alt="icon" class="bookmark-img">
            </div>
          </div>
        </div>
        <div class="our-rest__cards-item rest-card">
          <div class="rest-card__header">
            <img src="../../assets/images/our-rest/image_1.png" alt="food-pic" class="rest-card__header-img">
          </div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-redLink">Trending</a>
            <h4 class="rest-card__body-title">The Burger King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="rest-card__footer-info info">
              <div class="info__time">24min •</div>
              <div class="info__rating">4.8</div>
            </div>
            <div class="rest-card__footer-img">
              <img src="../../assets/images/our-rest/bookmark.svg" alt="icon" class="bookmark-img">
            </div>
          </div>
        </div>
        <div class="our-rest__cards-item rest-card">
          <div class="rest-card__header">
            <img src="../../assets/images/our-rest/image.png" alt="food-pic" class="rest-card__header-img">
          </div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-link">Healthy</a>
            <h4 class="rest-card__body-title">The Chicken King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="rest-card__footer-info info">
              <div class="info__time">24min •</div>
              <div class="info__rating">4.8</div>
            </div>
            <div class="rest-card__footer-img">
              <img src="../../assets/images/our-rest/bookmark.svg" alt="icon" class="bookmark-img">
            </div>
          </div>
        </div>
      </div>
      <div class="our-rest__link">
        <a href="#" class="our-rest__link-viewAll">View all</a>
        <div class="our-rest__link-img"></div>
      </div>
    </div>
  </div>
</section>