<section>
  <div class="wrapper">
    <div class="our-rest">
      <h3 class="our-rest__title">
        Our Top <span class="our-rest__title-word">Restaurants</span>
      </h3>
      <div class="our-rest__cards">
        <div class="our-rest__cards-01 rest-card">
          <div class="rest-card__header chiken"></div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-link">Healthy</a>
            <h4 class="rest-card__body-title">The Chicken King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="time">24min •</div>
            <div class="rating">4.8</div>
          </div>
        </div>
        <div class="our-rest__cards-02 rest-card">
          <div class="rest-card__header burger"></div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-redLink">Trending</a>
            <h4 class="rest-card__body-title">The Burger King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="time">24min •</div>
            <div class="rating">4.9</div>
          </div>
        </div>
        <div class="our-rest__cards-03 rest-card">
          <div class="rest-card__header chiken"></div>
          <div class="rest-card__body">
            <a href="#" class="rest-card__body-link">Healthy</a>
            <h4 class="rest-card__body-title">The Chicken King</h4>
          </div>
          <div class="rest-card__footer">
            <div class="time">24min •</div>
            <div class="rating">4.8</div>
          </div>
        </div>
      </div>
      <div class="our-rest__link">
        <a href="#" class="our-rest__link-viewAll">View all</a>
        <div class="our-rest__link-img"></div>
      </div>
    </div>
  </div>
</section>