<section>
    <div class="wrapper">
        <div class="modal">
            <div class="modal__logo">
                <img src="../../assets/images/modal-window/logo.svg" alt="logo" class="logo">
            </div>
            <div class="modal__main">
                <div class="modal__main-signup signup">
                    <div class="signup__title">
                        Sign Up To eatly
                    </div>
                    <div class="signup__form form">
                        <div class="form__with">
                            <div class="form__with-google">
                                <img src="../../assets/images/modal-window/google.svg" alt="google-img" class="google_icon">
                            </div>
                            <div class="form__with-apple">
                                <img src="../../assets/images/modal-window/apple.svg" alt="apple-img" class="apple_icon">
                            </div>
                        </div>
                        <div class="form__or">
                            OR
                        </div>
                        <div class="form__reg">
                            <input type="text" placeholder="FULL NAME" class="form__reg-name">
                            <input type="email" placeholder="EMAIL" class="form__reg-email">
                            <input type="password" placeholder="PASSWORD" class="form__reg-pass">
                            <button type="submit" class="form__reg-submit">SIGN UP</button>
                            <p class="form__reg-login login">
                                Already Have An Account? <span class="login__word">Log In</span>
                            </p>
                        </div>
                    </div>
                    <div class="signup__links">
                        <a href="#" class="signup__links-item">Privacy Policy</a>
                        <a href="#" class="signup__links-item">Copyright 2022</a>
                    </div>
                </div>
                <div class="modal__main-find find">
                    <div class="find__pic">
                        <img src="../../assets/images/modal-window/modal-pic.png" alt="" class="find__pic-food">
                    </div>
                    <div class="find__text">
                        <div class="find__text-title">
                            Find Foods With Love
                        </div>
                        <div class="find__text-par">
                            Eatly Is The Food Delivery Dashboard And Having More Than 2K+ Dishes
                            Including Asian, Chinese, Italians And Many More.
                            Our Dashboard Helps You To Manage Orders And Money.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>