<section id="statistic-bg">
  <div class="wrapper">
    <div class="statistic">
      <div class="statistic__costumers">
        <div class="statistic__costumers-title">
          10K+
        </div>
        <div class="statistic__costumers-text">
          Satisfied Costumers<br>
          All Great Over The World
        </div>
      </div>
      <div class="statistic__dishes">
        <div class="statistic__dishes-title">
          4M
        </div>
        <div class="statistic__dishes-text">
          Healthy Dishes Sold<br>
          Including Milk Shakes Smooth
        </div>
      </div>
      <div class="statistic__support">
        <div class="statistic__support-title">
          99.99%
        </div>
        <div class="statistic__support-text">
          Reliable Customer Support<br>
          We Provide Great Experiences
        </div>
      </div>
    </div>
  </div>

</section>