<header>
  <div class="wrapper">
    <div class="header">
      <div class="header__logo">
        <img src="/../../assets/images/logo.svg" alt="Logo">
        <span class="header__logo-text">eatly</span>
      </div>
      <ul class="header__nav">
        <li><a href="#">Menu</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="header__login">
        <a href="#" class="header__login-item login _modal-link">Login</a>
        <a href="#" class="header__login-item signup _modal-link">Sign Up</a>
      </div>
    </div>
  </div>
</header>