<section>
  <div class="wrapper">
    <div class="enjoy">
      <div class="enjoy__text">
        <div class="enjoy__text-container enjoy-container">
          <span class="enjoy-container__manyreviews">
            OVER 1000 USERS
          </span>
          <h1 class="enjoy-container__title">
            Enjoy Foods All
            Over The <span class="enjoy-container__title-world">World</span>
          </h1>
          <p class="enjoy-container__par">
            EatLy help you set saving goals, earn cash back offers, Go to disclaimer for more details and get paychecks up to two days early. Get a <a href="#" class="container__par-link">$20 bonus.</a>
          </p>
        </div>
        <div class="enjoy__text__get-started get-started">
          <ul class="get-started__buttons">
            <li><a href="#" class="get-started__buttons-getstarted">Get Started</a></li>
            <li><a href="#" class="get-started__buttons-gopro">Go Pro</a></li>
          </ul>
          <div class="get-started__rating rating">
            <img src="/../../assets/images/enjoy/trustpilot.png" class="rating__trustpilot" alt="trustpilot">
            <div class="rating__stars">
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
            </div>
            <span class="rating__reviews">4900+</span>
          </div>
        </div>
      </div>
      <div class="enjoy__pictures">
        <div class="enjoy__pictures-mainpic">
          <img src="/../../assets/images/enjoy/foodimg.png" class="enjoy__pictures-mainpic-item" alt="food">
        </div>
        <div class="enjoy__pictures-cards cards">
          <!-- firstcard starts -->
          <div class="cards__01">
            <div class="cards__01-header ">
              <ul class="cards__01-header-list">
                <li><a href="#" class="cards__01-header-list-item--active">Main</a></li>
                <li><a href="#" class="cards__01-header-list-item">Weekly</a></li>
                <li><a href="#" class="cards__01-header-list-item">Montly</a></li>
                <li><a href="#" class="cards__01-header-list-item">Yearly</a></li>
              </ul>
            </div>
            <div class="cards__01-body">
              <canvas id="myChart"></canvas>
              <!--              <img src="/../../assets/images/enjoy/graphic.png" class="cards__01-body-graphic" alt="graphic">-->
            </div>
            <div class="cards__01-footer">
              <ul class="cards__01-footer-list">
                <li><a href="#" class="cards__01-footer-list-item--active">2D</a></li>
                <li><a href="#" class="cards__01-footer-list-item">4D</a></li>
                <li><a href="#" class="cards__01-footer-list-item">5D</a></li>
                <li><a href="#" class="cards__01-footer-list-item">6D</a></li>
                <li><a href="#" class="cards__01-footer-list-item">7D</a></li>
              </ul>
            </div>
          </div>
          <!-- firstcard end -->

          <!-- lastcard starts -->
          <div class="cards__02">
            <div class="cards__02-header">
              <img src="/../../assets/images/enjoy/foodimg.png" class="cards__02-header-pic" alt="food">
            </div>
            <div class="cards__02-body">
              <h3 class="cards__02-body-title">Chicken Hell</h3>
              <p class="cards__02-body-par">On The Way</p>
            </div>
            <div class="cards__02-footer">
              <span class="cards__02-footer-time">3:09 PM</span>
            </div>
          </div>
          <!-- lastcard end -->
        </div>
      </div>
    </div>
  </div>
</section>