.enjoy {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: space-between;

  @include lg-block {
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    margin-top: 80px;
  }

  @include sm-block {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  &__text {

    .enjoy-container {
      padding-top: 28px;
      border-top: var(--line);
      position: relative;
      max-width: 520px;

      @include sm-block {
        max-width: 100%;
      }

      &__users {
        position: absolute;
        top: -10px;
        left: 50px;
        background-color: var(--main-bg-color);
        color: rgba(32, 31, 31, 0.20);
        padding-left: 15px;
        width: calc(100% - 50px);
      }

      &__title {
        color: var(--black);
        font-size: 75px;
        line-height: 120%;

        @include sm (text-align, center);
        @include xs (font-size, 50px);

        &-world {
          color: var(--accent-color);
        }
      }

      &__par {
        padding-top: 16px;
        font-size: 18px;

        @include sm (text-align, center);

        &-link {
          color: var(--accent-color);
        }
      }
    }

    .started {
      margin-top: 53px;

      &__buttons {
        display: flex;

        @include sm (justify-content, center);

        &-getstarted {
          display: block;
          transition: all .3s;

          &:hover {
            transform: scale(105%);
          }

          @include ColoredButton (none, var(--white), var(--accent-color));

        }
        &-gopro {
          margin-left: 18px;
          display: block;
          transition: all .2s;

          &:hover {
            transform: scale(105%);
          }

          @include ColoredButton (var(--border-button),var(--accent-color), inherit);
        }
      }

      .rating {
        margin-top: 44px;
        display: flex;
        align-items: center;

        @include sm (justify-content, center);
        @include xxs (flex-flow, column);
        @include xxs (gap, 5px);

        &__trustpilot {
          margin-right: 15px;
          padding-bottom: 5px;
        }

        &__stars {
          display: flex;
          flex-flow: row-reverse;
          margin-right: 10px;

          &-item {
            background-image: url("/../../assets/images/enjoy/star-gray.svg");
            background-size: cover;
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: background-image .5s;

            &:hover,
            &:hover ~ div {
              background-image: url("/../../assets/images/enjoy/star-yellow.svg");
            }
          }


          & .yellow-star {
            background-image: url("/../../assets/images/enjoy/star-yellow.svg");
          }
        }

        &__reviews {
          padding-top: 4px;
        }
      }
    }

  }

  &__pictures {
    position: relative;
    margin-right: 90px;

    @include lg (margin-right, 0);

    &::after {
      content: url("/../../assets/images/enjoy/illustration01.svg");
      position: absolute;
      top: -80px;
      left: 470px;

      @include lg (display, none);

    }

    &-mainpic {
      background-color: var(--accent-color);
      border-radius: 50%;
      width: 100%;
      height: auto;

      &::after {
        content: url("/../../assets/images/enjoy/illustration03.svg");
        position: absolute;
        z-index: -1;
        top: 80px;
        left: 390px;

        @include lg (display, none);

      }

      &::before {
        content: url("/../../assets/images/enjoy/illustration02.svg");
        position: absolute;
        left: -130px;
        top: 495px;

        @include lg (display, none);

      }

      &-item {
        position: relative;
        right: 22px;
        top: 22px;

        @include lg (width, 100%);
      }
    }

    .cards {
      position: relative;

      @include lg-block () {
        position: static;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        margin-top: -140px;
        gap: 20px;
      }

      @include sm-block {
        margin-top: -90px;
        flex-flow: row wrap;
        align-items: flex-end;
        gap: 20px;
      }

      @include xs (margin-top, 0);



      &__graphic {
        position: absolute;
        z-index: 2;
        top: -160px;
        left: -100px;
        background-color: var(--white);
        border: var(--cards-border);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 207px;
        height: 205px;
        border-radius: 17px;
        box-shadow: 14px 18px 37px 0 rgba(26, 32, 44, 0.15);
        font-size: 6.5px;
        overflow: hidden;

        @include lg (position, static);
        @include lg (order, 1);



        &-header {
          margin: 0 10px;

          &-list {
            display: flex;
            justify-content: space-around;
            margin-top: 17px;

            &-item {
              padding: 4px 8px;
            }

            &-item--active {
              padding: 4px 8px;
              border-radius: 14px;
              background-color: var(--accent-color);
              color: var(--white);
            }
          }
        }

        &-body {
          width: 100%;
          padding: 20px 10px 0 0;
        }

        .footer {
          padding: 0 10px 10px;

          &__list {
            display: flex;
            justify-content: space-around;
            padding-top: 16px;

            &-item {
              padding: 3px 6px;
            }

            ._active {
              padding: 3px 6px;
              border-radius: 16.759px;
              background: rgba(49, 49, 58, 0.1);
              color: #151515;
            }
          }
        }
      }

      &__food {
        position: absolute;
        top: -500px;
        left: 185px;
        z-index: 3;
        background-color: var(--white);
        border: 0.5px solid #EDF2F7;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 0 10px;
        width: 280px;
        height: 90px;
        border-radius: 16.406px;
        box-shadow: -17px 23px 20px 0px rgba(34, 60, 80, 0.2);

        @include lg (position, static);
        @include lg (width, 320px);
        @include sm (width, 280px);


        &-header {
          max-width: 74px;
          align-self: center;
          padding-top: 10px;

          .food__header-picture {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        &-body {
          align-self: center;

          .body__title {
            color: #323142;
            font-size: 15px;
            margin: 10px 0;
          }

          .body__par {
            color: var(--black);
            font-size: 10px;
            margin: 10px 0;
          }
        }

        &-footer {
          align-self: flex-end;
          flex-grow: 1;
          padding: 0 5px 10px;
          text-align: end;

          .footer__time {
            color: var(--gray-card-color);
            font-size: 10px;
          }
        }
      }
    }
  }
}