<section>
  <div class="wrapper">
    <div class="enjoy">
      <div class="enjoy__text">
        <div class="enjoy__text-container enjoy-container">
          <span class="enjoy-container__users">
            OVER 1000 USERS
          </span>
          <h1 class="enjoy-container__title">
            Enjoy Foods All
            Over The <span class="enjoy-container__title-world">World</span>
          </h1>
          <p class="enjoy-container__par">
            EatLy help you set saving goals, earn cash back offers, Go to disclaimer for more details and get paychecks up to two days early. Get a <a href="#" class="container__par-link">$20 bonus.</a>
          </p>
        </div>
        <div class="enjoy__text-started started">
          <ul class="started__buttons">
            <li><a href="#" class="started__buttons-getstarted">Get Started</a></li>
            <li><a href="#" class="started__buttons-gopro">Go Pro</a></li>
          </ul>
          <div class="started__rating rating">
            <img src="/../../assets/images/enjoy/trustpilot.png" class="rating__trustpilot" alt="trustpilot">
            <div class="rating__stars">
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
            </div>
            <span class="rating__reviews">4900+</span>
          </div>
        </div>
      </div>
      <div class="enjoy__pictures">
        <div class="enjoy__pictures-mainpic">
          <img src="/../../assets/images/enjoy/foodimg.png" class="enjoy__pictures-mainpic-item" alt="food">
        </div>
        <div class="enjoy__pictures-cards cards">
          <!-- firstcard starts -->
          <div class="cards__graphic">
            <div class="cards__graphic-header ">
              <ul class="cards__graphic-header-list">
                <li><a href="#" class="cards__graphic-header-list-item--active">Main</a></li>
                <li><a href="#" class="cards__graphic-header-list-item">Weekly</a></li>
                <li><a href="#" class="cards__graphic-header-list-item">Montly</a></li>
                <li><a href="#" class="cards__graphic-header-list-item">Yearly</a></li>
              </ul>
            </div>
            <div class="cards__graphic-body">
              <canvas id="myChart"></canvas>
            </div>
            <div class="cards__graphic-footer footer">
              <ul class="footer__list">
                <li><a href="#" class="footer__list-item _active">2D</a></li>
                <li><a href="#" class="footer__list-item">4D</a></li>
                <li><a href="#" class="footer__list-item">5D</a></li>
                <li><a href="#" class="footer__list-item">6D</a></li>
                <li><a href="#" class="footer__list-item">7D</a></li>
              </ul>
            </div>
          </div>
          <!-- firstcard end -->

          <!-- lastcard starts -->
          <div class="cards__food">
            <div class="cards__food-header food__header">
              <img src="/../../assets/images/enjoy/foodimg.png" class="food__header-picture" alt="food">
            </div>
            <div class="cards__food-body body">
              <h3 class="body__title">Chicken Hell</h3>
              <p class="body__par">On The Way</p>
            </div>
            <div class="cards__food-footer footer">
              <span class="footer__time">3:09 PM</span>
            </div>
          </div>
          <!-- lastcard end -->
        </div>
      </div>
    </div>
  </div>
</section>