<section>
    <div class="wrapper">
        <div class="dashboard">
            <div class="dashboard__control">
                <h3 class="dashboard__control-title title">
                    Control <span class="title__word">Purchases</span>
                    Via Dashboard
                </h3>
                <div class="dashboard__control-foodcards foodcards">
                    <div class="foodcards__item">
                        <div class="foodcards__item-pic">
                            <img src="/../../assets/images/dashboard/food-image1.png" alt="food" class="pic__food">
                        </div>
                        <div class="foodcards__item-text text">
                            <div class="text__name">
                                Chicken Hell
                            </div>
                            <div class="text__status">
                                On The Way
                            </div>
                        </div>
                        <div class="foodcards__item-time">
                            3:09 PM
                        </div>
                    </div>
                    <div class="foodcards__item">
                        <div class="foodcards__item-pic">
                            <img src="/../../assets/images/dashboard/food-image2.png" alt="food" class="pic__food">
                        </div>
                        <div class="foodcards__item-text text">
                            <div class="text__name">
                                Swe Dish
                            </div>
                            <div class="text__status">
                                Delivered
                            </div>
                        </div>
                        <div class="foodcards__item-time">
                            Yesterday
                        </div>
                    </div>
                    <div class="foodcards__item">
                        <div class="foodcards__item-pic">
                            <img src="/../../assets/images/dashboard/food-image3.png" alt="food" class="pic__food">
                        </div>
                        <div class="foodcards__item-text text">
                            <div class="text__name">
                                Fish Hell Veg
                            </div>
                            <div class="text__status cancel">
                                Cancelled
                            </div>
                        </div>
                        <div class="foodcards__item-time">
                            Yesterday
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__purchases">
                <div class="dashboard__purchases-header pur-header">
                    <div class="pur-header__title">
                        Purchase
                    </div>
                    <div class="pur-header__dropdown">
                        This month
                        <div class="pur-header__dropdown-arrow arrow">
                            <div class="arrow__line"></div>
                            <div class="arrow__line"></div>
                        </div>
                    </div>
                </div>
                <div class="dashboard__purchases-cards">
                    <div class="dashboard__purchases-cards-item card-item">
                        <div class="card-item__top">
                            <img src="../../assets/images/dashboard/wallet.svg" class="card-item__top-img" alt="wallet-img">
                            <div class="card-item__top-text top-text">
                                <h4 class="top-text__title">
                                    Expense
                                </h4>
                                <p class="top-text__par">
                                    Increased By 10%
                                </p>
                            </div>
                            <p class="card-item__top-price">$409.00</p>
                        </div>
                        <div class="card-item__bottom">
                            <img src="../../assets/images/dashboard/purple-line.png" alt="line" class="card-item__bottom-img">
                        </div>
                    </div>
                    <div class="dashboard__purchases-cards-item card-item">
                        <div class="card-item__top">
                            <img src="../../assets/images/dashboard/money.svg" class="card-item__top-img" alt="wallet-img">
                            <div class="card-item__top-text top-text">
                                <h4 class="top-text__title">
                                    Voucher Usage
                                </h4>
                                <p class="top-text__par">
                                    Increased By 5%
                                </p>
                            </div>
                            <p class="card-item__top-price">$45.78</p>
                        </div>
                        <div class="card-item__bottom">
                            <img src="../../assets/images/dashboard/orange-line.png" alt="line" class="card-item__bottom-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>