#footer-bg {
  background-color: var(--footer-bg);
}

.footer {

  &__top {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding-top: 95px;
    padding-bottom: 30px;
    border-bottom: var(--line);
    gap: 20px;

    @include xs (padding-top, 40px);

    &-button-up {
      background-color: inherit;
      position: absolute;
      right: 1800px;
      top: -45px;
      font-size: 20px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transition: border-color .3s, box-shadow .3s, background-color .3s, transform 3s;

      &.focus {
        transform: translateX(1780px) rotate(1080deg);
      }

      &:hover {
        border-color: var(--accent-color);
        box-shadow: 0 0 10px 9px var(--accent-color);
        background-color: var(--white);
      }
    }

      &-logo {
      padding-right: 20px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 70px;

      @include sm (gap, 35px);
      @include xs-block {
        width: 100%;
        justify-content: space-between;
        gap: 15px;
      }

      &__item {
        font-style: var(--p-font);
        transition: all .3s;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  &__bottom {
    padding-top: 55px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include xs (padding-bottom, 40px);

    &-copyright {
      font-style: var(--p-font);
      font-size: 17px;
    }

    &-socials {
      display: flex;
      justify-content: flex-end;
      gap: 45px;

      @include sm (gap, 20px);
      @include xs (width, 100%);

      .socials__item {
        &-pic {
          width: 30px;
        }
      }
    }
  }
}