.footer-bg {
  background-color: #EAEAEA;
}

.footer {

  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding-top: 95px;
    padding-bottom: 30px;
    border-bottom: $borderLine;
    gap: 20px;

    @include xs (padding-top, 40px);

      &-logo {
      padding-right: 20px;
    }

    .top-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 70px;

      @include sm (gap, 35px);
      @include xs-block {
        width: 100%;
        justify-content: space-between;
        gap: 15px;
      }

      &__item {
        font-style: $pFont;
      }
    }
  }

  &__bottom {
    padding-top: 55px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include xs (padding-bottom, 40px);

    &-copyright {
      font-style: $pFont;
      font-size: 17px;
    }

    &-socials {
      display: flex;
      justify-content: flex-end;
      gap: 45px;

      @include sm (gap, 20px);
      @include xs (width, 100%);

      .socials__item {
        &-pic {
          width: 30px;
        }
      }
    }
  }
}