<section id="footer-bg">
    <div class="wrapper">
        <div class="footer">
            <div class="footer__top">
                <div class="footer__top-logo">
                    <img src="/../../assets/images/footer-logo.svg" alt="Logo">
                </div>
                <button class="footer__top-button-up">UP ▲</button>
                <ul class="footer__top-nav nav">
                    <li class="nav__item"><a href="#">Blog</a></li>
                    <li class="nav__item"><a href="#">Pricing</a></li>
                    <li class="nav__item"><a href="#">About Us</a></li>
                    <li class="nav__item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-copyright">
                    © 2023 EATLY All Rights Reserved.
                </div>
                <div class="footer__bottom-socials socials">
                    <a class="socials__item"><img src="../../assets/images/footer/instagram-icon.svg" class="socials__item-pic" alt="instagram"></a>
                    <a class="socials__item"><img src="../../assets/images/footer/linkedin-icon.svg" class="socials__item-pic" alt="linkedin"></a>
                    <a class="socials__item"><img src="../../assets/images/footer/fb-icon.svg" class="socials__item-pic" alt="facebook"></a>
                    <a class="socials__item"><img src="../../assets/images/footer/twitter-icon.svg" class="socials__item-pic" alt="twitter"></a>
                </div>
            </div>
        </div>
    </div>
</section>