@use "sass:string";
@import "variables.scss";


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local('Inter'),
  url('/../fonts/inter/Inter-Regular.ttf') format('woff'),
  url('/../fonts/inter/Inter-Regular.ttf') format('ttf'),
  url('/../fonts/inter/Inter-Regular.ttf') format('woff2'),
  url('/../fonts/inter/Inter-Regular.ttf') format('eot')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  src: local('Inter'),
  url('/../fonts/inter/Inter-Bold.ttf') format('woff'),
  url('/../fonts/inter/Inter-Bold.ttf') format('ttf'),
  url('/../fonts/inter/Inter-Bold.ttf') format('woff2'),
  url('/../fonts/inter/Inter-Bold.ttf') format('eot')
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: local('Poppins'),
  url('/../fonts/poppins/Poppins-Bold.ttf') format('woff'),
  url('/../fonts/poppins/Poppins-Bold.ttf') format('ttf'),
  url('/../fonts/poppins/Poppins-Bold.ttf') format('woff2'),
  url('/../fonts/poppins/Poppins-Bold.ttf') format('eot')
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: local('Poppins'),
  url('/../fonts/poppins/Poppins-Regular.ttf') format('woff'),
  url('/../fonts/poppins/Poppins-Regular.ttf') format('ttf'),
  url('/../fonts/poppins/Poppins-Regular.ttf') format('woff2'),
  url('/../fonts/poppins/Poppins-Regular.ttf') format('eot')
}

