
$break_lg: 1100px;
$break_md: 960px;
$break_xmd: 900px;
$break_sm: 780px;
$break_xs: 560px;
$break_xxs: 440px;


@mixin lg($name, $value) {
    @media screen and (max-width: $break_lg){
        #{$name}: $value;
    }
}

@mixin lg-block() {
  @media screen and (max-width: $break_lg){
      @content;
  }
}

@mixin md($name, $value) {
  @media screen and (max-width: $break_md){
    #{$name}: $value;
  }
}

@mixin md-block() {
  @media screen and (max-width: $break_md){
    @content;
  }
}
@mixin xmd($name, $value) {
  @media screen and (max-width: $break_xmd){
    #{$name}: $value;
  }
}

@mixin xmd-block() {
  @media screen and (max-width: $break_xmd){
    @content;
  }
}

@mixin sm($name, $value) {
  @media screen and (max-width: $break_sm){
      #{$name}: $value;
  }
}

@mixin sm-block() {
  @media screen and (max-width: $break_sm){
      @content;
  }
}

@mixin xs($name, $value) {
  @media screen and (max-width: $break_xs){
      #{$name}: $value;
  }
}

@mixin xs-block() {
  @media screen and (max-width: $break_xs){
      @content;
  }
}

@mixin xxs($name, $value) {
  @media screen and (max-width: $break_xxs){
    #{$name}: $value;
  }
}

@mixin xxs-block() {
  @media screen and (max-width: $break_xxs){
    @content;
  }
}