@import "./variables";

@mixin ColoredButton ($border, $textCol, $bgCol) {
  padding: 18px 27px;
  border: $border;
  border-radius: 12.4px;
  color: $textCol;
  font-size: 17px;
  background-color: $bgCol;
}
