:root {
  --main-font: "Poppins", Helvetica, Arial, sans-serif;
  --p-font: "Inter", Helvetica, Arial, sans-serif;

  --accent-color: #6c5fbc;
  --white: #fff;
  --black: #201F1F;
  --main-bg-color: #F9F9F9;
  --footer-bg: #EAEAEA;
  --gray-card-color: #ACADB9;
  --blue-gray: #CBD5E1;
  --cancel-red: #ff0000;
  --gray-modal : #f3f3f3;

  --yellow-bg: #F7EDD0;
  --red-bg: #F7C5BA;
  --green-bg: #a3f8c2;
  --black-bg: #323142;

  --yellow-color: #DAA31A;
  --red-color: #FB471D;
  --green-color: #309D5B;

  --cards-border: 2px solid #EDF2F7;
  --line: 1px solid #CBCBCB;
  --border-button: 1.5px solid var(--accent-color);
}
