$mainFont: "Poppins", Helvetica, Arial, sans-serif;
$pFont: "Inter", Helvetica, Arial, sans-serif;

$accentColor: #6C5FBC;
$fontWhite: #fff;
$fontBlack: #201F1F;
$mainbgColor: #F9F9F9;
$timeColor: #ACADB9;

$borderLine: 1px solid #CBCBCB;

$borderButton: 1.5px solid $accentColor;