$mainFont: "Poppins", Helvetica, Arial, sans-serif;
$pFont: "Inter", Helvetica, Arial, sans-serif;

$accentColor: #6C5FBC;
$fontWhite: #fff;
$fontBlack: #201F1F;
$mainbgColor: #F9F9F9;
$grayCardColor: #ACADB9;
$blueGray: #CBD5E1;
$cancelColor: #ff0000;

$yellowBG: #F7EDD0;
$redBG: #F7C5BA;
$greenBG: #a3f8c2;
$blackBG: #323142;

$yellowColor: #DAA31A;
$redColor: #FB471D;
$greenColor: #309D5B;

$cardsBorder: 3px solid #EDF2F7;
$borderLine: 1px solid #CBCBCB;
$borderButton: 1.5px solid $accentColor;
